body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px red;
    padding: 20px;
    font-size: 32px;
    color: red;
}

.chamada {
    background: rgb(90 17 17);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}

.chamada-texto {
    margin-right: 5%;

}

h1 {
    font-size: 40px;
    font-weight: 400;
}

h2 {
    font-size: 25px;
    font-weight: 300;
}

p {
    font-size: 20px;
    font-style: italic;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img {
    opacity: 0.5;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid red;
}

.categoria h2 {
    color: red;
}